body {
  background-color: #cccccc;
  color: darkslategray;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

hr {
  border-color: darkslategray;
}

#pic {
  height: 120px;
  display: block;
  margin: auto;
}

#pic-spacer {
  height: 120px;
  display: block;
  margin: auto;
}

#down-button {
  position: relative;
  top: -30px;
  margin: auto;
  width: 60px;
  height: 60px;
  background-color: #cccccc;
  border-radius: 30px;
  box-shadow: 0px -10px 15px #294444;
  text-align: center;
}

.centered {
  top: 35%;
}

.nav {
  min-height: 10vh;
}

.front {
  background-color: #cccccc;
}

.below-jumbo {
  box-shadow: 0px -10px 15px #294444;
}

.title {
  position: sticky;
  color: #cccccc;
  z-index: -1;
  width: 100vw;
  top: 0;
}

.jumbo {
  background-color: darkslategray;
  box-shadow: inset 0 0 0 1000px rgba(0,0,0,.3);
  background-size: cover;
  top: calc(-136px - 30vh);
  min-height: calc(100vh - 35px);
  padding-top: 30vh;
  padding-bottom: 20px;
}

.content {
  margin: auto;
  max-width: 600px;
  padding: 16px;
}

.label {
  background-color: darkslategray;
  color: #cccccc;
}

.link-list {
  word-spacing: 10px;
}
