body {
  background-color: darkslategray;
  color: darkslategray;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

img {
  height: 120px;
  display: block;
  margin: auto;
}

#title {
  min-height: 90vh;
  padding-top: 30vh;
  color: lightgrey;
}

#body {
  background-color: lightgrey;
  padding-bottom: 30vh;
}

.content {
  margin: auto;
  max-width: 600px;
  padding: 16px;
}

.card {
  border-radius: 5px;
  border: solid darkgrey 1px;
  width: 234px;
  padding: 16px;
  padding-top: 8px;
  margin: 8px;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}
