body {
  background-color: #c1c1c1;
  color: darkslategray;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

hr {
  border-color: darkslategray;
}

#pic {
  height: 120px;
  display: block;
  margin: auto;
}

#pic-spacer {
  height: 120px;
  display: block;
  margin: auto;
}

.nav {
  min-height: 10vh;
}

.below {
  /* margin-top: 20vh; */
  /* min-height: 100vh; */
  padding-bottom: 150px;
  z-index: 1;
  background-color: #c1c1c1;
}

.below-jumbo {
  box-shadow: 0px -10px 15px #294444;
}

.title {
  position: sticky;
  color: #c1c1c1;
  z-index: -1;
  width: 100vw;
  top: 0;
}

.jumbo {
  background-color: darkslategray;
  top: calc(-136px + -30vh);
  min-height: 90vh;
  padding-top: 30vh;
}

.content {
  margin: auto;
  max-width: 600px;
  padding: 16px;
}

.label {
  background-color: darkslategray;
  color: #c1c1c1;
}

.link-list {
  word-spacing: 10px;
}
