h2 {
  margin-bottom: 0;
  margin-top: 0;
  font-size: 14pt;
}

body {
  max-width: 30em;
  font-size: 14pt;
}

article {
  margin-top: 4em;
  /* border: 1pt solid; */
  /* padding: 1em; */
  border-radius: 16pt;
}

p {
  text-align: justify;
}

code {
  font-size: 12pt;
}
